<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34422323993-mui8ajc0adgl061sa86v3k4qnq4hh8vu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34422323993-mui8ajc0adgl061sa86v3k4qnq4hh8vu</string>
	<key>API_KEY</key>
	<string>AIzaSyDQT6IzyPjF-WMsEXjSbDodKMD2knSO3cI</string>
	<key>GCM_SENDER_ID</key>
	<string>34422323993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-cutenesss</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-cutenesss.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34422323993:ios:3d28fce5af90813ea52388</string>
</dict>
</plist>